body {
    background-color: bisque;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: rgb(247, 202, 88);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    padding: 10px;
}

#nav-logo-a {
    text-decoration: none;
}

#nav-logo {
    margin: 0;
    font-size: 40px;
    display: inline-block;
}

nav div {
    display: inline-block;
    margin: 0 50px;
    font-size: 20px;
}

nav div a {
    text-decoration: none;
    color: black;
    transition-duration: 0.1s;
}

nav div a:hover {
    color: gray;
    transition-duration: 0.1s;
}

main {
    margin: 30px;
}

footer {
    text-align: center;
}