.characteristics {
    background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    box-shadow: 0 0 21px 11px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    padding: 10px 25px;
}

.characteristics > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.characteristics > ul > li {
    padding-left: 1rem;
    text-indent: -0.7rem;
}

.characteristics > ul > li:nth-child(3n+1)::before {
     content: "👷‍♂️ Тип продуктивности: ";
    font-weight: bold;
}

.characteristics > ul >li:nth-child(3n+2)::before {
    content: "🏋️‍♂️ Вес петуха: ";
    font-weight: bold;
}

.characteristics > ul >li:nth-child(3n+3)::before {
    content: "🏋️ Вес курицы: ";
    font-weight: bold;
}

.characteristics > ul >li:nth-child(3n+4)::before {
    content: "🥚 Яйценоскость: ";
    font-weight: bold;
}

.characteristics > ul >li:nth-child(3n+5)::before {
    content: "🔩 Особенности: ";
    font-weight: bold;
}
