/* nav */
nav {
    background-color: rgb(247, 202, 88);
    box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
}

nav ul {
    list-style: none;
    background: rgb(247, 202, 88);
    height: 50px;
}

nav ul ul {
    padding-left: 0;
    margin-top:25px;
}

nav a {
    text-decoration: none;
    background: rgb(247, 202, 88);
    color: #000000;
    padding:0 15px;
    line-height:50px;
    display: block;
}
nav a:hover { background: #FFE9B6; }

nav li {
    float:left;
    position:relative;
}

/* Styles for drop-down menu */
nav li > ul {
    position:absolute;
    top:25px;
    display:none;
}

nav li:hover > ul {
    display:block;
    width:250px;
}

nav li:hover > ul > li {
    float:none;
}

/* Card */
.breeds-card {
    background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    box-shadow: 0 0 21px 11px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.breeds-card img {
    border: 4px double #af2e2e;
}

/* main */
body {
    background-color: #ffe4c4;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 30px;
}

footer {
    text-align: center;
    margin-bottom: 50px;
}

/*
 * Single page related styles
*/

/* breeds */
.breeds-section {
    display: grid;
    grid-row-gap: 50px;
}

.fixed-def-img {
    position: fixed; bottom: 10px; right: 5px;
    height: 80px;
    opacity: 0.5;
    transition-duration: .5s;
}

.fixed-def-img:hover {
    height: 180px;
    opacity: 1;
    transition-duration: .5s;
}
    /* characteristics */
    .breeds-card__characteristics {
        background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        box-shadow: 0 0 21px 11px rgba(34, 60, 80, 0.2);
        border-radius: 10px;
        padding: 10px 25px;
    }

    .breeds-card__characteristics > ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .breeds-card__characteristics > ul > li {
        padding-left: 1rem;
        text-indent: -0.7rem;
    }

    .breeds-card__characteristics > ul > li:nth-child(1)::before {
         content: "👷‍♂️ Тип продуктивности: ";
        font-weight: bold;
    }

    .breeds-card__characteristics > ul >li:nth-child(2)::before {
        content: "🏋️‍♂️ Вес петуха: ";
        font-weight: bold;
    }

    .breeds-card__characteristics > ul >li:nth-child(3)::before {
        content: "🏋️ Вес курицы: ";
        font-weight: bold;
    }

    .breeds-card__characteristics > ul >li:nth-child(4)::before {
        content: "🥚 Яйценоскость: ";
        font-weight: bold;
    }

    .breeds-card__characteristics > ul >li:nth-child(5)::before {
        content: "🔩 Особенности: ";
        font-weight: bold;
    }

/* form */
.form-entry > h3, .form-entry > input {
    display: inline-block;
}

/* progress */
#planet-progress {
  border-radius: 50px;
  width: 100%;
  height: 30px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
#planet-progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 7px;
}
#planet-progress::-webkit-progress-value {
  background-color: mediumseagreen;
  border-radius: 50px;
}