@import "nav.css";

body {
    background-color: #ffe4c4;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 30px;
}

footer {
    text-align: center;
}
