nav {
    background-color: rgb(247, 202, 88);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

nav ul {
    list-style: none;
    background: rgb(247, 202, 88);
    height: 50px;
}

nav ul ul {
    padding-left: 0;
    margin-top:25px;
}

nav a {
    text-decoration: none;
    background: rgb(247, 202, 88);
    color: #000000;
    padding:0 15px;
    line-height:50px;
    display: block;
}
nav a:hover { background: #FFE9B6; }

nav li {
    float:left;
    position:relative;
}

/* Styles for drop-down menu */
nav li > ul {
    position:absolute;
    top:25px;
    display:none;
}

nav li:hover > ul {
    display:block;
    width:250px;
}

nav li:hover > ul > li {
    float:none;
}